
<div class="row">
  <div class="col-md-1"></div>
  <div claa="col-md-10">
<h6><br><br></h6><h2>플랜 R의 새로운 회원이 되어주셔서 감사합니다.</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
   <%= f.input :nickname,
                required: true,
                autofocus: true %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } 
                %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } 
                %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "회원가입" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="col-md-1"></div>

</div>