<div class="content">
<center>
<br>
<br>
<br>

  
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<% @rooms.each do |room| %>
<% @publish_stage_id=room.publish_stage_id%> 


<div class="card">
  
  <img class="card-img-top" src="<%= room.image.url ? room.image.url  : '/assets/mainpage_img.jpg' %>" style="width:100%; height:53%;">
  <div class="card-body">
    <h5 class="card-title"><%=truncate room.title, length: 15 %></h5>
    <p class="card-text"><%=truncate room.content, length: 18 %></p>
    <a href="<%=room_show_path(room.id) %>" class="btn btn-play">플레이 하기</a>
  </div>
</div>




<!--<div class="card_list" ontouchstart="this.classList.toggle('hover');">-->
  
<!--  <a href="<%=room_show_path(room.id) %>">-->
<!--  <div class="card">  -->
      <%# if room.image.url.nil? %>
<!--      <div class="card_front <%=(room.image.url.nil?) ? "nonthumb" : "thumbnail" %>" style="<%="background-image: url(#{room.image.url(:thumb)})" if !room.image.url.nil?%>"> -->
        
<!--        <div class="card-symbol"><%=room.title%>-->
<!--        [-->
        
<!--        <%= room.difficulty.round(2) %>-->

        
<!--        ]<hr></div>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="card_back <%=(room.image.url.nil?) ? "nonthumb" : "thumbnail" %>" style="<%="background-image: url(#{room.image.url(:thumb)})" if !room.image.url.nil?%>">-->
<!--         <div class="card-symbol"><%=room.title%><hr>-->
<!--         <p><%=truncate room.content, length: 100 %></p>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
<!--    </a>-->
<!--</div>-->

<% end %>

<br>
<br>
<br>

</div>



<div class="col-md-2"></div>
</div>
<br>
</center>
</div>