<div class="content">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
<br>
<br>
<br>

<h1><b>새로운 방탈출</b></h1>
<br>
<br>

    <div class="container">
      <%=form_for :room, url: room_create_path , method: 'post', multipart: true,authenticity_token: true  do |f| %>
      
        <div class="form-group">
          
          <%= f.label :title , '방탈출 이름', for: "roomname" %>
          <%= f.text_field :title ,placeholder: '방탈출의 이름을 입력하세요.', class: 'form-control', :id => "roomname" %>
         
        </div>
        <div class="form-group" %>
          <%= f.label :content, '방탈출 소개' %>
          <%= f.text_area :content, placeholder:"방탈출을 소개할 문구를 입력하세요.", class:"form-control" %>
         <!-- <label for="exampleInputText">설명</label>-->
         <!--<textarea name="input_content"  class="form-control"  ></textarea> -->
        </div>
        <div class='form-group'>
          <label>방탈출 썸네일 업로드</label>
            <div class='input-group'>
                <span class='input-group-btn'>
                    <span class='btn btn-blueblack btn-file'>
                        <label for='imgInp'>Browse… </label>
          				  <%= f.file_field :image , id:'imgInp' , accept: 'image/png,image/jpeg'%>
                    </span>
                </span>
                
                
                <input type='text' class='input-form' name='image' readonly value='<%=@stage_file_name %>'>
                
                
                
                <button type='button' id='btn_cancel' onClick='cancelImage()' class='btn btn-danger' >X</button>
            
            </div>
            
        </div>
        
         <div class='form-group'>
      	  <div class='image' style='position:relative' >
            
            <img  class='img-main' id='img-upload'/>
         
         </div>
         </div>
    
        
        
    
         <%= f.submit '만들기' , class: "btn btn-blueblack" %>
         
         
         
      

     <%end%>
    </div>
    <hr>
    
</div>
<div class="col-md-1"></div>
</div>
</div>

<!--여기서 부터 자바스크립트입니다 -->
<script>

    //파일 선택기를 통해서 추가된 파일을 임시 저장하는 변수
	  var imgInput=null;
	  



$(document).ready(function() {
  
   $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
   		  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		  input.trigger('fileselect', [label]);
		});
		
   		$('.btn-file :file').on('fileselect', function(event, label) {
	    var input = $(this).parents('.input-group').find(':text'), log = label;
		    if( input.length ) {
		      if(log.length)
		        input.val(log);
		        showImage();
		    } else {
		        if( log ) alert(log);
		    }
		}); 
		$("#imgInp").change(function(){
    	    if (this.files && this.files[0]) {
    	        imgInput = this;
    	        $("#btn_cancel").css("display","inline");
		      	showImage();
    	   	    $("#img-upload").css("display","none");
    	    }
	    });

		
	});
	
function showImage(){
    if(imgInput)
       readURL(imgInput);
}


function readURL(input) {
    if (input.files && input.files[0]) {
    
        var reader = new FileReader();
        reader.onload = function (e) {
			$("#img-upload").css("display","block");
          $('#img-upload').attr('src', e.target.result);
        }
      reader.readAsDataURL(input.files[0]);
    }
}



function setImage(img_url){
  $("#img-upload").css("display","block");
  $('#img-upload').attr('src', img_url);
}

 function cancelImage(){
  imgInput=null;
  $('.btn-file :file').parents('.input-group').find(':text').val("");
  $("#imgInp").val('');
  $("#btn_cancel").css("display","none");
  $('#img-upload').attr("src","");
  $("#img-upload").css("display","none");
  
}
</script>