<br>
<br>
<h3>새로운 방탈출</h3>
    <div class="container">
      <%=form_for :room, url: room_create_path , method: 'post', multipart: true  do |f| %>
      
        <div class="form-group">
           
          <!--<label for="exampleInputName">게임 제목</label>-->
          <%= f.label :title , '게임 제목' %>
          <%= f.text_field :title ,placeholder: '게임의 제목을 입력하세요.', class: 'form-control',id:"exampleInputName2" %>
         
        </div>
        <div class="form-group ">
          <%= f.label :content, '설명' %>
          <%= f.text_area :content,placeholder:"방탈출을 소개할 문구를 입력해주세요.", class:"form-control" %>
         <!-- <label for="exampleInputText">설명</label>-->
         <!--<textarea name="input_content"  class="form-control"  ></textarea> -->
        </div>
         <%= f.submit '만들기' , class: "btn btn-default" %>
         <%= f.file_field :image , id:'imgInp' , accept: 'image/png,image/jpeg'%>
         
      

     <%end%>
    </div>
    <hr>
    <div class="row align-items-center">
</div>


<br><br><hr><%=link_to "홈으로", '/' %>