<div class="content">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
<br>
<br>
<br>

<h1><b>새로운 방탈출</b></h1>
<br>
<br>

    <div class="container">
      <%=form_for :room, url: room_create_path , method: 'post', multipart: true,authenticity_token: true  do |f| %>
      
        <div class="form-group">
          
          <%= f.label :title , '방탈출 이름', for: "roomname" %>
          <%= f.text_field :title ,placeholder: '방탈출의 이름을 입력하세요.', class: 'form-control', :id => "roomname" %>
         
        </div>
        <div class="form-group" %>
          <%= f.label :content, '방탈출 소개' %>
          <%= f.text_area :content, placeholder:"방탈출을 소개할 문구를 입력하세요.", class:"form-control" %>
         <!-- <label for="exampleInputText">설명</label>-->
         <!--<textarea name="input_content"  class="form-control"  ></textarea> -->
        </div>
        <div class='form-group'>
          <label>방탈출 썸네일 업로드</label>
            <div class='input-group'>
                <%=render './common/image/file_uploader', f: f %>
            </div>
            
        </div>
        
         <div class='form-group'>
              <%=render './common/image/image_viewer' %>
         </div>

         <%= f.submit '만들기' , class: "btn btn-blueblack" %>
         

     <%end%>
    </div>
    <hr>
    
</div>
<div class="col-md-1"></div>
</div>
</div>

