<div class="content">
<br>
<br>
<center>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 align-middle">
        <br>
        <h3 style="font-size: 25pt"><b><%=@room.title %></b></h3>
        <hr>
        <br>
        <h5><b>게임 설명</b></h5>
        <br>
        <div class="content_box">
            <p><%=@room.content.html_safe %></p>
        </div>
        <br>
        <br>
        
        <hr>
        
        <p>
          <strong><i class="fas fa-thumbs-up fa-lg"></i></strong>
          <%= @room.likes.size %> 명이 좋아합니다. 
        </p>
        <%=form_tag like_toggle_path, method: 'post' do %>
        <%=hidden_field_tag :room_id, @room.id %>
        <%=submit_tag ((current_user.is_like? (@room)) ? '좋아요 취소' : '좋아요'), class: 'btn btn-blueblack'%>
        <% end %>
    </div>
    <div class="col-md-5">

        <div class="play_mode">
            
        <br><br> 
        <p style="font-size:25pt;"><b>플레이 기록</b></p>
        <br><br>
            
        <% if @stages.size == 0 %>
            <p style="font-size:13pt"><b>방탈출 제작자가 배포한 스테이지가 없습니다. 플레이를 시작할 수 없습니다.</b></p>
            <button type="button" class="btn btn-secondary btn-lg" disabled>싱글플레이 시작하기</button>
            <button type="button" class="btn btn-secondary btn-lg" disabled>멀티플레이 시작하기</button>
            <br>
            <br>
        <% else %>
            <% if @roomCal.nil? || @roomCal.mode == 0 %>
                <p><b>플레이 모드를 선택해주세요.</b></p>
                <p style="color: red;"><b>[주의] 한 번 선택한 모드는 클리어 시까지 변경할 수 없습니다.</b></p>
            <% elsif @roomCal.mode == 1 || @roomCal.mode == 3 %>
                <p><b>싱글플레이 모드를 진행 중입니다.</b></p>
            <% elsif @roomCal.mode == 2 || @roomCal.mode == 4 %>
                <p><b>멀티플레이 모드를 진행 중입니다.</b></p>
            <% end %>
            
            <% if @roomCal.nil? || @roomCal.mode == 0 %> <!-- 대기중 -->
                <%= link_to '싱글플레이 시작하기'.html_safe, room_cal_create_path(@room.id, 1), method: :post, :class => 'btn btn-blueblack btn-lg' %>
                <%= link_to '멀티플레이 시작하기'.html_safe, room_cal_create_path(@room.id, 2), method: :post, :class => 'btn btn-blueblack btn-lg' %>
            <% else %>
                <% if @roomCal.mode==1 || @roomCal.mode == 3 %><!--싱글플레이 -->
                    <%= link_to '싱글플레이 계속하기'.html_safe, stage_show_path(@room.id), method: :post, :class => 'btn btn-blueblack btn-lg' %>
                    <button type="button" class="btn btn-secondary btn-lg" disabled>멀티플레이 계속하기</button>
                <% elsif @roomCal.mode==2 || @roomCal.mode == 4 || @roomCal.mode ==5 %><!--멀티플레이 -->
                    <% if @roomCal.mode == 5 %>
                    <button type="button" class="btn btn-secondary btn-lg" disabled>싱글플레이 계속하기</button>
                    <%= link_to '멀티플레이 팀구성 계속하기'.html_safe, room_team_path(@room.id,@team.id), method: :get, :class => 'btn btn-blueblack btn-lg' %>
                    <% else %>
                    <button type="button" class="btn btn-secondary btn-lg" disabled>싱글플레이 계속하기</button>
                    <%= link_to '멀티플레이 계속하기'.html_safe, stage_show_path(@room.id), method: :post, :class => 'btn btn-blueblack btn-lg' %>
                    <% end %>
                <%end%>
            <% end %>
        <% end %>
        
        </div>
        

        
        <br><br>
        <br><br>
        <!--<#%= link_to 'RoomCal 초기화하기'.html_safe, room_cal_delete_path(@room.id), method: :post, :class => 'btn btn-warning bt-lg' %>-->
        <br><br>
         
    <p>
        

     
     
    </p>
        <br><br><hr>
        
                    
        <p text-color"10px">[Tip] 멀티 플레이 선택 시, 방탈출 클리어 보너스로 획득하는 EP(Escape Point)가 감소됩니다.</p>
            
        <br><br><br><br>
    </div>
    <div class="col-md-1"></div> 
</div>
</center>
</div>