<div class="content">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

<br>
<br>
<p style="font-size: 30px"><b>팀원 구성하기</b></p>
<hr>
<br>

<h5>팀원 초대하기</h5>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <%=form_tag invite_create_path, {method: 'post' , class: 'form-horizontal' } do %>
    <%=hidden_field_tag :room_id , params[:room_id] %>
    <%=hidden_field_tag :team_id , params[:team_id] %>
    <%=text_field_tag :input_nick_name ,'' , class: 'form-control' , id: 'exampleInputName2', placeholder: '초대할 유저의 닉네임'%>
    <br>
    <%=submit_tag '초대하기', class:  'btn btn-primary' %>
  <% end %>
  
<hr>
<br>

<h5>팀원 리스트</h5>
<ul class="list-group">

<% @invites.each do |invite| %>

  <li class="list-group-item"><%=invite.user.nickname%> 
  <% if invite.invite_accepted==1 %>
    <i class="fas fa-check fa-lg"></i>
  <% elsif invite.invite_accepted ==2%>
    <i class="fas fa-times fa-lg"></i>
  <% else %>
    <i class="fas fa-sync fa-spin fa-lg"></i>
  <% end %>
  </li>
  
<% end %>
</ul>
  
<hr>
<br>

  <% @room_cals = RoomCal.where('team_id'=> @roomCal.team_id) %>
  <% if @room_cals.length >1 %>
  <%=form_tag room_confirm_path(@room.id,params[:team_id]), {method: 'post' , class: 'btn btn-blueblack' } do %>
    <%=hidden_field_tag :team_id , params[:team_id] %>
    <%=submit_tag '이 구성으로 시작하기', class:  'btn btn-blueblack' %>
  <% end %>
  <% end %>
  <%=form_tag invite_delete_all_path, {method: 'post' , class: 'btn btn-blueblack' } do %>
    <%=hidden_field_tag :room_id , params[:room_id] %>
    <%=hidden_field_tag :team_id , params[:team_id]%>
    <br>
    <%=submit_tag '싱글/멀티 모드 초기화', class:  'btn btn-blueblack' %>
  <% end %>
  

</div>
<div class="col-md-1"></div>

</div>
</div>