<div id="myModal1" class="modal" tabeindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">도움이 필요하십니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>힌트 사용 시 EP(Escape Point)가 감소됩니다.<br></p>
        <% if @user.item_freehint >0 %>
        <p style="color:red;">힌트 사용권 아이템을 보유중입니다. 아이템 사용 시, EP 차감 없이 힌트를 확인할 수 있습니다.</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if @user.item_freehint > 0 %>
          <%= link_to '아이템 사용', stage_hintpage_item_path(@room.id, @stage_level, 1, @stage.id), method: :post, :class => 'btn btn-blueblack' %>
        <% end %>
        <%= link_to '힌트 사용'.html_safe, stage_hintpage_path(@room.id,@stage_level,1,@stage.id), method: :post, :class => 'btn btn-blueblack' %>
        <button type="button" class="btn btn-blueblack" data-dismiss="modal">힌트 미사용</button>
      </div>
    </div>
  </div>
</div>


<div id="myModal2" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">도움이 필요하십니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>힌트 사용 시 EP(Escape Point)가 감소됩니다.<br></p>
        <% if @user.item_freehint >0 %>
        <p style="color:red;">힌트 사용권 아이템을 보유중입니다. 아이템 사용 시, EP 차감 없이 힌트를 확인할 수 있습니다.</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if @user.item_freehint > 0 %>
          <%= link_to '아이템 사용', stage_hintpage_item_path(@room.id, @stage_level, 2, @stage.id), method: :post, :class => 'btn btn-blueblack' %>
        <% end %>
        <%= link_to '힌트 사용'.html_safe, stage_hintpage_path(@room.id,@stage_level,2,@stage.id), method: :post, :class => 'btn btn-blueblack' %>
        <button type="button" class="btn btn-blueblack" data-dismiss="modal">힌트 미사용</button>
      </div>
    </div>
  </div>
</div>

<div id="myModal3" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">도움이 필요하십니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>힌트 사용 시 EP(Escape Point)가 감소됩니다.<br></p>
        <% if @user.item_freehint >0 %>
        <p style="color:red;">힌트 사용권 아이템을 보유중입니다. 아이템 사용 시, EP 차감 없이 힌트를 확인할 수 있습니다.</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if @user.item_freehint > 0 %>
          <%= link_to '아이템 사용', stage_hintpage_item_path(@room.id, @stage_level, 3, @stage.id), method: :post, :class => 'btn btn-blueblack' %>
        <% end %>
        <%= link_to '힌트 사용'.html_safe, stage_hintpage_path(@room.id,@stage_level,3,@stage.id), method: :post, :class => 'btn btn-blueblack' %>
        <button type="button" class="btn btn-blueblack" data-dismiss="modal">힌트 미사용</button>
      </div>
    </div>
  </div>
</div>


<div id="publish" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">정말로 배포하시겠습니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color:red;"><b>[주의]</b></p>
        <p style="color:red;"><b>한 번 배포 후에는 방 정보 및 스테이지 수정이 불가합니다.</b></p>
      </div>
      <div class="modal-footer">
        <%= link_to "배포하기", room_publish_path(@room.id,@stage.id), method: :post ,class: 'btn btn-blueblack' %>
        <button type="button" class="btn btn-blueblack" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>

<div id="publish" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">정말로 삭제하시겠습니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>스테이지가 삭제됩니다.</p>
      </div>
      <div class="modal-footer">
	      <%=form_tag stage_delete_path(@stage.room_id), {method: 'post', style:'display:inline'} do %>
	    	<%=hidden_field_tag :stage_id, @stage.id %>
		    <%=submit_tag '삭제하기', class: 'btn btn-blueblack' %>
	      <% end %>
        <button type="button" class="btn btn-blueblack" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>


<script>

//   $('a[data-popup]').live('click', function(e) { 
//   window.open( $(this).attr('href'), "Popup", "height=600, width=600" ); 
//   e.preventDefault(); 
// });

</script>