
<%=form_for :room, url: room_update_path , method: 'post', multipart: true  do |f| %>

<%=hidden_field_tag :room_id, @room.id %>

<%=hidden_field_tag :stage_level, 0 %>


<div class='form-group'>
    <%= f.label :title, '방 이름' %>
    <%= f.text_field :title ,placeholder: '방 이름을 입력하세요.', class: 'form-control', :autocomplete => :off  %>
</div>

<div class='form-group '>
    <%= f.label :content , '설명'%>
    <%= f.text_area :content ,placeholder: '방 설명을 입력하세요', class: 'form-control' , :autocomplete => :off %>

</div>



<div>
  <div class='form-group'>
        <label>Upload Image</label>
        <div class='input-group'>
            <span class='input-group-btn'>
                <span class='btn btn-default btn-file'>
                    <label for='imgInp'>Browse… </label>
                    <%= f.file_field :image , id:'imgInp' , accept: 'image/png,image/jpeg'%>
                </span>
            </span>
            
            
            <input type='text' class='input-form' name='image' readonly value='<%=@stage_file_name %>'>
            
            
            
            <button type='button' id='btn_cancel' onClick='cancelImage()' class='btn btn-danger' >X</button>
        
            <button type='button' id='btn_preview'  onClick='showImage()' class='btn btn-outline-primary btn-form'>미리보기</button>    
        </div>
        
        <% if @room.image.url %>
             <%= image_tag @room.image.url(:thumb) , id: 'img-upload', class: 'img-thumb'  %>
         <% else %>
             <image id='img-upload' class='img-thumb'/>
         <% end %>
    </div>
  <!-- /.card -->
  

    <%=hidden_field_tag :is_delete_origin_image, false, id: 'is_delete' %>
    <!--TODO f.submit 버튼 inline으로 바뀌어야 되요-->
    <%= f.submit '저장', class: 'btn btn-default'   %>
  <% end %>
<!--</form>-->

 