<input type='hidden' name='stage_id' value = '<%=@room.id%>'/>



<div class='form-group '>
  
  <label for='content'>방탈출 소개</label>
  <div class='form-control' name='content' ><%=@room.content.html_safe%> </div>

</div>



<br>
<br>



<div>
    <div class='form-group'>
        <label>Uploaded Image</label><br/>
        
        <% if @room.image.url.nil? %>
            <img src="<%=image_path 'mainpage_img.jpg'%>">
        <% else %>
            <%=render './common/image/image_viewer' ,  data_url: @room.image.url %>
        <% end %>
    </div>
</div>

<br>
<br>
<br>

<%if @room.publish_stage_id == 0  %>
  <%= link_to "수정하기",  stage_manage_each_path(@room.id,0, edit_mode: true) , class: 'btn btn-blueblack' %>
<% end %>

<br>
<br>
<br>

