
<input type='hidden' name='stage_id' value = '<%=@stage.id%>'/>

<div class='form-group'>
  <label for='title'>STAGE <%=@stage_level +1 %> ::</label>
  <p><%=@stage.title %></p>
</div>
  
<% if @stage.laststage == 1 %>
  <h2><p style="color:red;">FINAL STAGE</p><h2>
<% end %>

<div class='form-group'>
  <label for='content'>내용 :: </label>
  <p class='form-control' name='content'><%=@stage.content%> </p>
</div>

<br><br>

<div class='form-group'>
  <label for='content'>힌트 개방 :: </label>
  
  <% if !(@stage.hint1.nil?) && @stage.hint1.length > 0 && @stageCal.usedhint1 == 1 %>
    <%= link_to '<i class="fas fa-key"></i>'.html_safe, stage_hintpage_path(@room.id,@stage_level,1,@stage.id), method: :post, :class => 'btn btn-primary' %>
  <% elsif !(@stage.hint1.nil?) && @stage.hint1.length >0 %>
    <button class='btn btn-primary' data-toggle="modal" data-target="#myModal1">
      <i class="fas fa-key"></i>
    </button>
  <% end %>
  
  <% if !(@stage.hint2.nil?) && @stage.hint2.length > 0 && @stageCal.usedhint2 == 1 %>
    <%= link_to '<i class="fas fa-key"></i>'.html_safe, stage_hintpage_path(@room.id,@stage_level,2,@stage.id), method: :post, :class => 'btn btn-primary' %>
  <% elsif !(@stage.hint2.nil?) && @stage.hint2.length > 0 && @stageCal.usedhint1 == 1%>
    <button class='btn btn-primary' data-toggle="modal" data-target="#myModal2">
      <i class="fas fa-key"></i>
    </button>
  <% elsif !(@stage.hint2.nil?) && @stage.hint2.length > 0 %>
    <button class='btn btn-secondary disabled'>
      <i class="fas fa-key"></i>
    </button>
  <% end %>
  
  <% if !(@stage.hint3.nil?) && @stage.hint3.length > 0 && @stageCal.usedhint3 == 1%>
    <%= link_to '<i class="fas fa-key"></i>'.html_safe, stage_hintpage_path(@room.id,@stage_level,3,@stage.id), method: :post, :class => 'btn btn-primary' %>
  <% elsif !(@stage.hint3.nil?) && @stage.hint3.length > 0 && @stageCal.usedhint2 == 1%>
    <button class='btn btn-primary' data-toggle="modal" data-target="#myModal3">
      <i class="fas fa-key"></i>
    </button>
  <% elsif !(@stage.hint3.nil?) && @stage.hint3.length >0 %>
    <button class='btn btn-secondary disabled'>
      <i class="fas fa-key"></i>
    </button>
  <% end %>
  
  
  
  <!--#######-->
  <!--<#% if !(@stage.hint1.nil?) && @stage.hint1.length > 0 %>-->
  <!--    <button class='btn-floating pulse' data-toggle="modal" data-target="#myModal1">-->
  <!--    <i class="fas fa-key"></i>-->
  <!--    </button>-->
  <!--<#% end %>-->
  
  <!--<#% if @stageCal.usedhint1 == 1 || @stageCal.usedhint2 == 1 %>-->
  <!--    <#% if !(@stage.hint2.nil?) && @stage.hint2.length > 0 %>-->
  <!--        <button class='btn-floating pulse' data-toggle="modal" data-target="#myModal2">-->
  <!--        <i class="fas fa-key"></i>-->
  <!--        </button>-->
  <!--    <#% end %>-->
  <!--<#% else %>-->
  <!--    <#% if !(@stage.hint2.nil?) && @stage.hint2.length > 0 %>-->
  <!--        <button class='btn-floating disabled' >-->
  <!--        <i class="fas fa-key"></i>-->
  <!--        </button>-->
  <!--    <#% end %>-->
  <!--<#% end %>-->
      
        
        
  <!--<#% if @stageCal.usedhint2 == 1 %>-->
  <!--    <#% if !(@stage.hint3.nil?) && @stage.hint3.length > 0 %>-->
  <!--        <button class='btn-floating pulse' data-toggle="modal" data-target="#myModal3">-->
  <!--        <i class="fas fa-key"></i>-->
  <!--        </button>-->
  <!--    <#% end %>-->
  <!--<#% else %>-->
  <!--    <#% if !(@stage.hint3.nil?) && @stage.hint3.length > 0 %>-->
  <!--        <button class='btn-floating disabled' >-->
  <!--        <i class="fas fa-key"></i>-->
  <!--        </button>-->
  <!--    <#% end %>-->
  <!--<#% end %>-->
  

  
</div>




<!--이미지가 있는 경우에만 -->
<% if (@stage.image && @stage.image.length)>0 %>
  <div>
    <div class='form-group'>
      

        
         <div class = 'image' style = "position: relative;">
          
        <label>이미지</label><br/>
           <%= image_tag @stage.image.url , id: 'img-upload', class: 'img-main' if @stage.image.url %>

          <% if @stage_level < @roomCal.last_stage_level %>            
             <span id = 'img-border' style = "position:absolute; height: 50px; width:50px;  display:none; pointer-events: none; left: 0px; top: 0px;"></span>
          <% end %>
         
        </div>
        
    </div>
  </div>
<% end %>

<script>

  
$(document).ready(function () {
 if ( <%= @stage.mode == 4 ? "true" : "false" %>){
   
   <% if @stage_level == @roomCal.last_stage_level %>
      document.getElementById("nextStage").style.display='none';
       $("#img-upload").click(function(){
        
        boardX = event.offsetX;
        boardY = event.offsetY;
        
        
        boardX = (boardX/img.width)*100;
        boardY = (boardY/img.height)*100;
        document.getElementById("stage_answer").value = boardX+","+boardY;
        
        document.getElementById('nextStage').submit();
        
      });
    <%else %>
       document.getElementById('img-border').style.display='inline';
        
    <%end %>
 }
});

 var img = document.getElementsByTagName("img")[0];
<% if @stage_level < @roomCal.last_stage_level %>  
  img.onload=function(){
      drawImageTheme(img);
  }
  function drawImageTheme(img){
      if(4==<%=@stage.mode%>){
        var ansSize = <%=@Ans_img && @Ans_img[2] ? @Ans_img[2] : 0%>*img.width/100;
        var ansX = <%=@Ans_img && @Ans_img[0] ? @Ans_img[0] : 0%>*img.width/100 - ansSize/2;
        var ansY = <%=@Ans_img && @Ans_img[1] ? @Ans_img[1] : 0%>*img.height/100 - ansSize/2;
        document.getElementById('img-border').style.display='inline';
        document.getElementById('img-border').style.width=ansSize;
        document.getElementById('img-border').style.height=ansSize;
        document.getElementById('img-border').style.left=ansX;
        document.getElementById('img-border').style.top=ansY;
      }
  }
<% end %>
</script>
