


    <input type='hidden' name='stage_id' value = '<%=@stage.id%>'/>


    <div class='form-group'>
      <% if @stage.laststage == 1 %>
      <h2 style="font-size:40pt; color:#f7606d; text-align:center;"><label for = 'title'><b>FINAL STAGE</b></label></h2>
      <% else %>
      <h2 style="font-size:40pt; color:white; text-align:center;"><label for = 'title'><b>STAGE <%= @stage_level + 1 %></b></label></h2>
      <% end %>
      <h3 style="font-size:30pt; color:gray; text-align:center;"><label for = 'title'><b><%=@stage.title %></b></h3>
    </div>
    
    <br><br>
    
    <div class='form-group' align='center' style="height: auto;">
      <p type="text_area" class='form-control col-lg-10' name='content' style="word-wrap: break-word; height:auto;"><%=@stage.content%> </p>
    </div>

    <br><br>


    <!--이미지가 있는 경우에만 -->
        <% if (@stage.image && @stage.image.length)>0 %>
          <div>
            <div class='form-group' align='center'>
                 <div class = 'image-wrapper'  id = 'image-wrapper' >
                    <label>이미지</label><br/>
                       <%= image_tag @stage.image.url , id: 'img-upload', class: 'img-show' if @stage.image.url %>
                       <% if @stage_level < @roomCal.last_stage_level %>            
                       <span id = 'img-border' style = "position:absolute; height: 50px; width:50px;  display:none; pointer-events: none; left: 0px; top: 0px;"></span>
                       <% end %>
                 </div>
            </div>
          </div>
        <% end %>


<script>

  
$(document).ready(function () {
 if ( <%= @stage.mode == 4 ? "true" : "false" %>){
   
   <% if @stage_level == @roomCal.last_stage_level %>
      document.getElementById("nextStage").style.display='none';
       $("#img-upload").click(function(){
        
        boardX = event.offsetX;
        boardY = event.offsetY;
        
        
        boardX = (boardX/img.width)*100;
        boardY = (boardY/img.height)*100;
        document.getElementById("stage_answer").value = boardX+","+boardY;
        
        document.getElementById('nextStage').submit();
        
      });
    <%else %>
       document.getElementById('img-border').style.display='inline';
        
    <%end %>
 }
});

 var img = document.getElementById("img-upload");
 
  img.onload=function(){
    <% if @stage_level < @roomCal.last_stage_level %>  
      drawImageTheme(img);
    <% end %>
  }
  function drawImageTheme(img){
      if(4==<%=@stage.mode%>){
        var ansSize = <%=@Ans_img && @Ans_img[2] ? @Ans_img[2] : 0%>*img.width/100;
        var ansX = <%=@Ans_img && @Ans_img[0] ? @Ans_img[0] : 0%>*img.width/100 - ansSize/2;
        var ansY = <%=@Ans_img && @Ans_img[1] ? @Ans_img[1] : 0%>*img.height/100 - ansSize/2;
        document.getElementById('img-border').style.display='inline';
        document.getElementById('img-border').style.width=ansSize;
        document.getElementById('img-border').style.height=ansSize;
        document.getElementById('img-border').style.left=ansX;
        document.getElementById('img-border').style.top=ansY;
      }
  }
</script>
