
<center>

<%=form_for :stage, url: stage_update_path , method: 'post', multipart: true  do |f| %>
<%= hidden_field_tag :stage_id, @stage.id %>

<div class='form-group'>
    <%= f.label :title, '스테이지 제목' %>
    <%= f.text_field :title ,placeholder: '제목을 입력하세요.', class: 'form-control', :autocomplete => :off  %>
</div>

<div class='form-group '>
    <%= f.label :content , '내용'%>
    <%= f.text_area :content ,placeholder: '내용을 입력하세요', class: 'form-control' , :autocomplete => :off %>

</div>
<div class='form-group'>
    <%= f.label :hint1, '힌트 1' %>
    <%= f.text_field :hint1 ,placeholder: '1번 힌트를 기록하세요.(추천 : 가장 약한 힌트)', class: 'form-control'  , :autocomplete => :off %>
</div>
<div class='form-group'>
    <%= f.label :hint2, '힌트 2' %>
    <%= f.text_field :hint2, placeholder: '2번 힌트를 기록하세요.(추천 : 좀 강한 힌트)', class: 'form-control', :autocomplete => :off %>
</div>
<div class='form-group'>
    <%= f.label :hint3, '힌트 3' %>
    <%= f.text_field :hint3, placeholder: '3번 힌트를 기록하세요.(추천 : 매우 강한 힌트)', class:'form-control', :autocomplete => :off %>
</div>


<div class='form-group'>
    <%= f.label :answer, '정답' %>
    <%= f.text_field :answer ,placeholder: '정답을 입력해주세요.', class: 'form-control', :autocomplete => :off  %>
    
</div>

<div>
    <div class='form-group'>
        <label>Upload Image</label>
        <div class='input-group'>
            <span class='input-group-btn'>
                <span class='btn btn-default btn-file'>
                    Browse… 
                    <!--<input type='file' id='imgInp'>-->
                    <%= f.file_field :image , id:'imgInp' , accept: 'image/png,image/jpeg'%>
                </span>
            </span>
            <input type='text' class='form-inline' name='image' readonly value='<%=@stage_file_name %>'>
            <button type='button' id='btn_cancel' onClick='cancelImage()' class='btn btn-danger' >X</button>
            
        </div>
        <button type='button' id='btn_preview'  onClick='showImage()' class='btn btn-outline-primary'>미리보기</button>
        <% if @stage.image.url %>
             <%= image_tag @stage.image.url(:thumb) , id: 'img-upload', class: 'img-thumb' %>
         <% else %>
             <image id='img-upload' class='img-thumb'/>
         <% end %>
    </div>
</div>
  <!-- /.card -->
  
    <%= hidden_field_tag :is_delete_origin_image, false, {:id ='is_delete' }%>
    
    <%= f.submit '저장', class: 'btn btn-default'   %>
  <% end %>
<!--</form>-->

</center>

 