
<%=form_for :stage, url: stage_update_path , method: 'post', multipart: true ,html: {id: 'form'} do |f| %>

    <%=hidden_field_tag :room_id, @room.id %>
    <%=hidden_field_tag :stage_id, @stage.id %>
    <%=hidden_field_tag :stage_level, @stage_level %>


    
<div class="row">
<div class="col-md-12">
        
    

  

<div class='form-group form-inline'>
    <%= f.label :title, '스테이지 제목' , class: 'control-label col-lg-4', style:'background-color:#818284; color:white;'%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :title ,placeholder: '제목을 입력하세요.', class: 'form-control col-lg-4', :autocomplete => :off  %>
</div>
<div>
<%= render 'themechoice' , f: f %>
</div>
<div class='form-group form-inline '>
    <%= f.label :content , '내용', class: 'control-label col-lg-4', style:'background-color:#818284; color:white;'%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_area :content ,placeholder: '내용을 입력하세요',  class: 'form-control col-lg-4' , :autocomplete => :off %>

</div>
<div class='form-group form-inline'>
    <%= f.label :hint1, '힌트 1' , class: 'control-label col-lg-4', style:'background-color:#818284; color:white;'%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :hint1 ,placeholder: '가장 약한 힌트', class: 'form-control col-lg-4'  , :autocomplete => :off %>
    
</div>
<div class='form-group form-inline'>
    <%= f.label :hint2, '힌트 2' , class: 'control-label col-lg-4', style:'background-color:#818284; color:white;'%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :hint2, placeholder: '첫번째 힌트보다 강한 힌트', class: 'form-control col-lg-4', :autocomplete => :off %>
</div>
<div class='form-group form-inline'>
    <%= f.label :hint3, '힌트 3', class: 'control-label col-lg-4', style:'background-color:#818284; color:white;'%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :hint3, placeholder: '정답에 가장 근접한 힌트', class:'form-control col-lg-4', :autocomplete => :off %>
</div>

    <div class='form-group form-inline'>
        <%= f.label :upload, '이미지 업로드',class: 'control-label col-lg-4', style:'background-color:#818284; color:white;' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class='input-group'>
            <span class='input-group-btn'>
                <span class='btn btn-blueblack btn-file'>
                    <label for='imgInp' style="font-size:13pt; color:black; text-align:center;">업로드</label>
                    <%= f.file_field :image , id:'imgInp' , accept: 'image/png,image/jpeg'%>
                </span>
            </span>
            
            
            <input type='text' class='input-form' name='input_image' readonly value='<%=@stage_file_name %>'>
            
            
            <button type='button' id='btn_cancel' onClick='cancelImage()' class='btn btn-danger' >X</button>
        
            <%=hidden_field_tag :is_delete_origin_image, false, id: 'is_delete' %>
        </div>
    </div>

<div>
   <div class='form-group'>
        <div class='image-wrapper' id = 'image-wrapper'>
            
            <img src='<%=@stage.image.url if @stage.image.blank?%>' class='img-main' id='img-upload'/>
         
             <span id = 'img-border' style = "position:absolute; height: 50px; width:50px;  display:none; pointer-events: none; left: 0px; top: 0px;"></span>
             <span id = 'img-area' style = "position:absolute; height:50px; width:50px;   pointer-events: none; display:none;"></span>
         </div>
         
             <button type="button" onClick = "sizeUp();" class = 'btn btn-default' id='btn_size_up' style =" display:none;">▲</button>
             <button type="button" onClick = "sizeDown();" class = 'btn btn-default' id='btn_size_down' style =" display:none;">▼</button>
        
    </div>
    
    
</div>
</div>
<br>
<hr>


<div class='form-group form-inline' id = 'theme_pattern' style='display: none'>

    <br><br>
    <%=render 'theme_pattern', f: f %>
</div>


<div class='form-group' id ='theme_selection' style='display: none'>
    
    <br><br>
    <%=render 'theme_selection', f: f %>
    
</div>


<div class='form-group' id = 'theme_image' style='display: none' >
    
    <br><br>
    <%=render 'theme_image' %>
</div>

    <div class='form-group' id = 'theme_lock' style='display: none' >
        <br><br>
        <%=render 'theme_lock' %>
    </div>


<br>
<br>

<div class='form-group form-inline' id='div_answer_1' align="center">
    <%= f.label :answer, '정답',class: 'control-label col-lg-4', style:'background-color:#818284; color:white;' %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    <%= f.text_field :answer,placeholder: '정답을 입력해주세요.', class: 'form-control col-lg-4', style:'text-align:center;' %>
</div>
<br>



<br>

<div id='theme_ori'>
    <div class='form-group form-inline'>
        <%= f.label :answer2, '복수정답1',class: 'control-label col-lg-4', style:'background-color:#818284; color:white;' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.text_field :answer2 ,placeholder: '복수정답으로 인정하고 싶은 정답을 입력하세요.', class: 'form-control col-lg-4' %>
    </div>
    
    <div class='form-group form-inline'>
        <%= f.label :answer3, '복수정답2',class: 'control-label col-lg-4', style:'background-color:#818284; color:white;' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.text_field :answer3 ,placeholder: '복수정답으로 인정하고 싶은 정답을 입력하세요.', class: 'form-control col-lg-4' %>
    </div>

</div>

  
<br>
<hr>
<br>

    <div class='form-group form-inline'>
        <%= f.label :laststage_check, '마지막 스테이지 여부',class: 'control-label col-lg-4', style:'background-color:#1e1e1e; color:white;' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="filled-in" name="last_check" value="1" <%="checked" if @stage.laststage==1 %>/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size:13pt; color:red;">마지막 스테이지입니다.</span>
    </div>
    
    <br><br>
    
    <button type="button" onClick="checkValid();" class= 'btn btn-blueblack'>완료</button>
    
    
</div>
</div>

  <% end %>
 <script>
 
 
$(document).ready(function(){
    setTheme(<%=@stage.mode%>);
    
});
    
 function checkValid(){
     if($('#stage_answer').val().length==0){
         alert('정답을 입력하세요.');
     }else{
         $('#form').submit();
     }
     
 }
 

function setTheme(mode){
    if(mode==<%=@stage.mode%>)
     document.getElementById("stage_answer").value = "<%=@stage.answer%>";
    else 
     document.getElementById("stage_answer").value = "";
     if(mode==0){
         
         document.getElementById('theme_ori').style.display='block';
        $('#stage_answer').removeAttr("readonly");
        
     }
     else{
      document.getElementById('theme_ori').style.display='none';
        $('#stage_answer').prop('readOnly', true);
     } 
    
     if(mode==1){
        document.getElementById('theme_lock').style.display='block';
        if(mode==<%=@stage.mode%>)
            play_num="<%=@stage.answer%>";
   }
    else{
        document.getElementById('theme_lock').style.display='none';
        
        play_num="";
    }
    
    if(mode==2){
        document.getElementById('theme_pattern').style.display='block';
        
        if(mode==<%=@stage.mode%>)
            play_string="<%=@stage.answer%>";
    }
    else{
        document.getElementById('theme_pattern').style.display='none';
        play_string='';
    }
    
    if(mode==3){
        document.getElementById('theme_selection').style.display='block';
        
        if(mode==<%=@stage.mode%>){
            
            play_num2 = "<%=@stage.answer%>";
            
            chkNum=new Array(0,0,0,0,0,0);
            var jbString = play_num2.split(",");
            for(var i in jbString){
                chkNum[(parseInt(jbString[i]))]=1;
            }
            
        }
    }
    else{
        document.getElementById('theme_selection').style.display='none';
        
        chkNum= new Array(0,0,0,0,0,0);
        play_num2='';
    }
    
    if(mode==4){
        document.getElementById('theme_image').style.display='block';
        document.getElementById('btn_size_up').style.display='inline';
        document.getElementById('btn_size_down').style.display='inline';
         document.getElementById("div_answer_1").style.display = 'none';
      
    }
    else{
        document.getElementById('theme_image').style.display='none';
        document.getElementById('img-area').style.display='none';
        document.getElementById('img-border').style.display='none';
        document.getElementById('btn_size_up').style.display='none';
        document.getElementById('btn_size_down').style.display='none';
         document.getElementById("div_answer_1").style.display = 'block';
    }
        
    
}

 </script>