<input type='hidden' name='stage_id' value = '<%=@stage.id%>'/>

<div class='form-group'>
  <label for='title'>스테이지 제목</label>
  <text  class='form-control' name='title' ><%=@stage.title %></text>
  
</div>

<div class='form-group '>
  
  <label for='content'>내용</label>
  <p class='form-control' name='content' ><%=@stage.content%> </p>

</div>
<div class='form-group'>
  
  <label for='hint1'>힌트</label>
  <text  class='form-control' name='hint1'><%=@stage.hint1%></text>
</div>


  <label for='answer'>정답</label>
  <text  class='form-control' name='answer'><%=@stage.answer%></text>
</div>

<!--이미지가 있는 경우에만 -->
<% if @stage.image && @stage.image.length>0 %>
<div>
    <div class='form-group'>
        <label>Uploaded Image</label><br/>
         <%= image_tag @stage.image.url(:main) , id: 'img-upload', class: 'img-main' if @stage.image.url %>
    </div>
</div>
<% end %>