<style>
    input[type=radio]:checked {
    box-shadow:red 0px 0px 0px 5px;
    background-color: #343a40;
}

</style>
<div class="form-group form-inline">
     <%= f.label :mode, '모드 선택' , class: 'control-label col-lg-4', style:'background-color:#818284; color:white;'%>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
   
   <div class="btn-group btn-group-toggle" data-toggle="buttons" id='radioBtn'>
      <label class="btn btn-blueblack active">
        <%= f.radio_button :mode ,"0",checked: true%> 기본
        
        <!--<input type="radio" name="options" value="option1" autocomplete="off" >기본-->
        
      </label>
      <label class="btn btn-blueblack">
        <%= f.radio_button :mode ,"1",class:'btn btn-blueblack'%> 자물쇠
       
      </label>
      <label class="btn btn-blueblack" >
        <%= f.radio_button :mode ,"2" %> 순서

      </label>
       <label class="btn btn-blueblack" >
        <%= f.radio_button :mode ,"3"%> 선택지

      </label>
             <label class="btn btn-blueblack" >
        <%= f.radio_button :mode ,"4"%> 이미지 클릭

      </label>
    </div>
   
   
   
<script>

     $('#radioBtn label ').on('click', function(){
    var sol=$(this).children().get(0).value;
   
    setTheme(sol);
    
    
    
})

</script>