<style>
    input[type=radio]:checked {
    box-shadow:red 0px 0px 0px 5px;
    background-color: #343a40;
}

</style>
<div class="form-group form-inline">
     <%= f.label :mode, '모드 선택' , class: 'control-label col-lg-4', style:'background-color:#818284; color:white;'%>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
   
   <div class="btn-group btn-group-toggle" data-toggle="buttons" id='radioBtn'>
       
       <% @a = ['기본', '자물쇠','순서','선택지','이미지클릭']%>
       
       <%@a.each_with_index do  |t,i|%>
                <% if mode==i %>
                   <label class="btn btn-blueblack active">
                    <%= f.radio_button :mode ,i,checked: true%> <%=t%>
                <%else%>
                   <label class="btn btn-blueblack">
                    <%= f.radio_button :mode ,i%><%=t%>
                <% end%>
        
              </label>
       <% end %>
    
    </div>
   
<script>

     $('#radioBtn label ').on('click', function(){
    var sol=$(this).children().get(0).value;
   
    setTheme(sol);
    
    
    
})

</script>