<style>
    input[type=radio]:checked {
    box-shadow:red 0px 0px 0px 5px;
    background-color: #343a40;
}

</style>
<div class="form-group form-inline">
     <%= f.label :mode, '모드 선택' , class: 'control-label col-lg-4'%>
    		<div class="col-sm-7 col-md-7">
    			<div class="input-group">
    				<div id="radioBtn" class="btn-group">
    				    <%=f.hidden_field :mode, value: 0%>
    					<a class="btn btn-outline-dark btn-sm active" data-toggle="happy" data-title="0" id="0">기본</a>
    					<a class="btn btn-outline-dark btn-sm notActive" data-toggle="happy" data-title="1" id="1">자물쇠</a>
    					<a class="btn btn-outline-dark btn-sm notActive" data-toggle="happy" data-title="2" id="2">순서</a>
    					<a class="btn btn-outline-dark btn-sm notActive" data-toggle="happy" data-title="3" id="3">선택지</a>
    					<a class="btn btn-outline-dark btn-sm notActive" data-toggle="happy" data-title="4" id="4">이미지 클릭</a>
    				</div>
    				<input type="hidden" name="happy" id="happy">
    			</div>
    		</div>
    	</div> 
   
   
   
   <div class="btn-group btn-group-toggle" data-toggle="buttons" id='radioBtn'>
      <label class="btn btn-blueblack active">
        <%= f.radio_button :mode ,"0",checked: true%> 기본
        
        <!--<input type="radio" name="options" value="option1" autocomplete="off" >기본-->
        
      </label>
      <label class="btn btn-blueblack">
        <%= f.radio_button :mode ,"1",checked: true%> 자물쇠
       
      </label>
      <label class="btn btn-blueblack" >
        <%= f.radio_button :mode ,"2",checked: true%> 순서

      </label>
    </div>
   
   
   
<script>
     $('#radioBtn label').on('click', function(){
         var sol = $(this).attr('value');
    var sel = $(this).data('mode');
    var tog = $(this).value('toggle');
    alert(tog);
//    $('#mode').val(sel);
    
    $('#'+tog).prop('value', sel);
    
    setTheme(sol);
    
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
    setTheme(sel);
})

</script>