<ul id='chat_list'>
    
    <%@chats.each do |c| %>
    <li id='chat_item_<%=c.id%>'>
        <div class="list_content">
            <!--유저에 이름 정보가 없어-->
            <p class="author"><%=@userMap[c.user_id] %></p>
            <p class="content"><%=c.content%></p>
            <form action="/rooms/<%=@room.id%>/stages/show/chats/delete/<%=c.id%>">
                <input type='submit' value='삭제'>
            </form>
        </div>
    </li>
    
    <% end %>
    
    
    
    
</ul>
    
<%=form_for :chat, url: chat_create_path, method: 'post' do |f| %>
    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type='hidden' name='room_id' value='<%=@room.id %>'/>
    <input type='hidden' name='stage_level' value='<%=@stage_level %>'/>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :stage_id, value: @stage.id %>
    <%= f.hidden_field :team_id, value: @roomCal.team_id %>

    <div class='form-group '>
    <%= f.label :content , '내용'%>
    <%= f.text_area :content ,placeholder: '내용을 입력하세요', class: 'form-control' , :autocomplete => :off %>
    </div>
    <br><%= f.submit '저장', class: 'btn btn-default'   %>
    
    
    
<%end%>

<input type="checkbox" id='chk_show_stage' /> <!-- 체크된 상태는 input 안에 checked="checked" 추가하시면 됩니다 -->
    <label for="chk_show_stage">전체 스테이지로 보기 </label>
    
    
<script>

var chats = new Array();

$(document).ready( function() {
    $('#chk_show_stage').change(function(event) {
        alert("??");
        var checkbox = event.target;
        var isChecked = $('#chk_show_stage').checked;
        alert(isChecked);
    
    })
})
                               
                              
</script>