<style>
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index:2;
  color:#ffffff;
  background-color:#2e2e2e;
  border-color:#2e2e2e;
}
</style>

<div class="content">
<center>
<br><br><br>

<!-- Page Content -->
<div class="row">
	<div class="col-md-2"> 
	<h5 style="text-align: center;"><b>스테이지 리스트</b></h5><hr>
		<div class="list-group"> <!-- 원래는 stage_list -->
		
	        <%= link_to "<b>방정보</b><br> - #{@room.title}".html_safe, stage_manage_each_path(@room.id, 0) , :class => "list-group-item list-group-item-action #{"active" if @stage_level == 0 }"%>
	        
	   		<% @stages.each_with_index do |s, i|%>
	            <%= link_to "<b>스테이지 #{i+1}</b><br> - #{s.title}".html_safe, stage_manage_each_path(@room.id, i+1) , :class => "list-group-item list-group-item-action #{"active" if @stage_level == (i+1) }"%>
        	<% end  %>
        	
        	
	        <% if  @stage_level!=20 &&(  @stages.length==0 ||  @stages.last.laststage == 0 ) %>
	        	<%=form_tag stage_create_path, { method: 'post'} do %>
				    <%= hidden_field_tag :room_id, @room.id %>		    
				    <br><%=submit_tag 'Add Stage', class: "btn btn-blueblack" %>
				<% end %>
	        
	        <% end %>
	        
	        <br>
  		</div>
   </div>
   <div class="col-md-9">
   
        <div class="make_room">
          <% if @stage_level ==0 %>
            <% if @edit_mode %>
                <%= render 'form_manage_room_edit', stage: @room, :class => "form_manage" %>
            <% else %>
                <h2 style="font-size:30pt;"><b><center><%=(@stage_level ==0) ? "#{@room.title}" : ":: Stage #{@stage_level}" %></center></b></h2>
                <br>
                <%= render 'form_manage_room', stage: @room, :class => "form_manage" %>
            <% end %>
          <% elsif %>
            <% if @edit_mode %>
                <%= render 'form_manage_edit', stage: @stage, :class => "form_manage" %>
            <% else %>
                <h2 style="font-size:30pt;"><b><center><%=(@stage_level ==0) ? "#{@room.title}" : ":: Stage #{@stage_level}" %></center></b></h2>
                <br>
                <%= render 'form_manage', stage: @stage, :class => "form_manage" %>
            <% end %>
     	 <% end %>
          
    

    </div>
    <div class="col-md-1"></div>
  </div>
  
</div>

<!-- /.card -->



</center>
<!--여기서 부터 자바스크립트입니다 -->
<script>
  
var imgInput=null;	

                
$(document).ready( function() {
    
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
   		  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		  input.trigger('fileselect', [label]);
		});
		
   		$('.btn-file :file').on('fileselect', function(event, label) {
	    var input = $(this).parents('.input-group').find(':text'), log = label;
		    if( input.length ) {
		      if(log.length)
		        input.val(log);
		        showImage();
		    } else {
		        if( log ) alert(log);
		    }
		    $('#is_delete').val(true);
		    resetImageTheme();
		}); 
		$("#imgInp").change(function(){
    	    if (this.files && this.files[0]) {
    	        imgInput = this;
    	        $("#btn_cancel").css("display","inline");
		      	showImage();
    	   	    $("#img-upload").css("display","none");
    	    }
	    });

		
		<% if @stage %>
		  if( <%=@edit_mode%>==false){
		    var img_url = "<%=@stage.image.url %>";
		    setImage(img_url);
		    
		  }else{
		    $("#img-upload").css("display","none");
		    if("<%=@stage_file_name %>".length){
		      $("#btn_cancel").css("display","inline");
		      showImage();
		    }else{
		      $("#btn_cancel").css("display","none");
		    }
		  }
		  
		<% end %>
		
		<% if @stage_level==0 %>
		  if( <%=@edit_mode%>==false){
		    var img_url = "<%=@room.image.url %>";
		    
  		  	setImage(img_url);
		  }else{
		    $("#img-upload").css("display","none");
		    if("<%=@room_file_name %>".length){
		      $("#btn_cancel").css("display","inline");
		      showImage();
		    }else{
		      $("#btn_cancel").css("display","none");
		    }
		  }
		  
		<% end %>
	});
	
function showImage(){

    if(imgInput)
       readURL(imgInput);
    else if(<%=@stage_level %>==0){
      var img_url = "<%=@room ? @room.image.url : '' %>";
      setImage(img_url);
    }
    else if("<%=@stage_file_name %>".length){
      var img_url = "<%=@stage ? @stage.image.url : '' %>";
      setImage(img_url);
    }
}


function readURL(input) {
    if (input.files && input.files[0]) {
    
        var reader = new FileReader();
        reader.onload = function (e) {
			$("#img-upload").css("display","block");
          $('#img-upload').attr('src', e.target.result);
        }
      reader.readAsDataURL(input.files[0]);
    }
}



function setImage(img_url){
  $("#img-upload").css("display","block");
  $('#img-upload').attr('src', img_url);
}

 function cancelImage(){
  imgInput=null;
  $('.btn-file :file').parents('.input-group').find(':text').val("");
  $("#imgInp").val('');
  $("#btn_cancel").css("display","none");
  $('#img-upload').attr("src","");
  $("#img-upload").css("display","none");
  
  $('#is_delete').val(true);
  resetImageTheme();
        
}
function resetImageTheme(){
    $('#img-area').css('display','none');
    $('#img-border').css('display','none');
    if(<%= ( @stage && @stage.mode=="true") ? "true" : "false" %>)
    	$("#stage_answer").val("");
}

</script>
