
<script>

$(document).ready( function() {
    if("<%=params[:is_wrong_answer] %>" == 'true')
        alert('정답이 아닙니다');
})
</script>

<script>
    
const sidebarBox = document.querySelector('#box'),
		sidebarBtn = document.querySelector('#btn'),
		pageWrapper = document.querySelector('#page-wrapper');

sidebarBtn.addEventListener('click', event => {
		sidebarBtn.classList.toggle('active');
		sidebarBox.classList.toggle('active');
});

pageWrapper.addEventListener('click', event => {

		if (sidebarBox.classList.contains('active')) {
				sidebarBtn.classList.remove('active');
				sidebarBox.classList.remove('active');
		}
});

window.addEventListener('keydown', event => {

		if (sidebarBox.classList.contains('active') && event.keyCode === 27) {
				sidebarBtn.classList.remove('active');
				sidebarBox.classList.remove('active');
		}
});
</script>
<br><br><br><br><br><br>

<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        STAGE <%=@stage_level +1 %> <br><br>

        <%= render 'dialog_modal' %>

        <% if @wait_for_update %>
            아직 배포자가 본 방탈출을 완결하지 않았습니다.<br>
            추후의 업데이트를 기다려주세요!<br/>
        <% elsif %>

            <% if @stage %>
                <!-- stage_id: <%=@stage.id %> -->
                <%= render 'form', stage: @stage%>
              <div class='form-group'>
              <label for='answer'>정답 입력창 :: </label>

              <form action='<%=stage_check_path(@room.id, @stage.id, @stage_level)%>' method="post" id='nextStage'>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
                  <input type="string" name="enter_answer"  autocomplete=off>
                  <input type='hidden' value='<%= @stage_level%>' name='stage_level'/>
                  <input type='submit' id='btn_check_answer'  class="btn waves-effect waves-light"  value='제출'/>
          
                 <i class="material-icons right">send</i>
              </form>
      
              </div>
            <% end %>
        <% end%>

    
        <% if  @stage_level > 0 %>
          <form method='POST' action="<%=stage_show_path(@room.id) %>" style='display:inline'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type='hidden' value='<%= @stage_level-1 %>' name='stage_level'/>
            <input type='submit' value='이전' class='btn btn-default'/>
          </form>
        <% end %>
    
        <!-- 배포된 페이지 까지만 보여주기-->
        <% if (@stages.length)-1 > @stage_level %>
         <form method='POST' action="<%=stage_show_path(@room.id) %>" style='display:inline'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type='hidden' value='<%= @stage_level +1 %>' name='stage_level'/>
            <input type='submit' value='다음' class='btn btn-default'/>
          </form>
         <% end %>
 

    <br><br><hr>
    </div>

    <div class="col s2">
            <div class="nav-right visible-xs">
          <div class="button" id="btn">
            <div class="bar top"></div>
            <div class="bar middle"></div>
            <div class="bar bottom"></div>
          </div>
        </div>
        <!-- nav-right -->
        <main>
        
            <div class="nav-right hidden-xs">
              <div class="button" id="btn">
                <div class="bar top"></div>
                <div class="bar middle"></div>
                <div class="bar bottom"></div>
              </div>
            </div>
            <!-- nav-right -->
          </nav>
        
          <a href="http://codepen.io/tonkec/" class="ua" target="_blank">
            <i class="fa fa-user"></i>
          </a>
        </main>
        
        <div class="sidebar">
          <ul class="sidebar-list">
            
            <li class="sidebar-item"><%= render 'timeline' %></li>
          </ul>
        </div>
     </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
  
  
$(document).ready(function() {

  function toggleSidebar() {
    $(".button").toggleClass("active");
    $("main").toggleClass("move-to-left");
    $(".sidebar-item").toggleClass("active");
  }

  $(".button").on("click tap", function() {
    toggleSidebar();
  });

  $(document).keyup(function(e) {
    if (e.keyCode === 27) {
      toggleSidebar();
    }
  });

});

</script>
<br><br><br><br><br><br>
