<script>
$(document).ready( function() {
    if("<%=params[:is_wrong_answer] %>" == 'true')
        alert('정답이 아닙니다');
})
</script>

<br><br><br><br><br><br>

<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        STAGE <%=@stage_level +1 %> <br><br>

        <%= render 'dialog_modal' %>

        <% if @wait_for_update %>
            아직 배포자가 본 방탈출을 완결하지 않았습니다.<br>
            추후의 업데이트를 기다려주세요!<br/>
        <% elsif %>

            <% if @stage %>
                <!-- stage_id: <%=@stage.id %> -->
                <%= render 'form', stage: @stage%>
              <div class='form-group'>
              <label for='answer'>정답 입력창 :: </label>

                <%=form_tag stage_check_path(@room.id), {methd: 'post', id:'nextStage'} do %>
                    <%=text_field_tag :enter_answer, '', autocomplete: 'off' %>
                    <%=hidden_field_tag :stage_level, @stage_level%>
                    <%=hidden_field_tag :stage_id, @stage.id%>
                    <%=submit_tag '제출', id: 'btn_check_answer', class: 'btn'%>
                <% end %>
              <!--<form action='<%#=stage_check_path%>' method="post" id='nextStage'>-->
    
              <!--    <input type="string" name="enter_answer"  autocomplete=off>-->
              <!--    <input type='hidden' value='<%#= @stage_level%>' name='stage_level'/>-->
              <!--    <input type='submit' id='btn_check_answer'  class="btn"  value='제출'/>-->
              <!--</form>-->
      
              </div>
            <% end %>
        <% end%>

    
        <% if  @stage_level > 0 %>
          <form method='POST' action="<%=stage_show_path(@room.id) %>" class='btn-form'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type='hidden' value='<%= @stage_level-1 %>' name='stage_level'/>
            <input type='submit' value='이전' class='btn btn-default'/>
          </form>
        <% end %>
    
        <!-- 배포된 페이지 까지만 보여주기-->
        <% if (@stages.length)-1 > @stage_level && @stage_level<@roomCal.last_stage_level %>
         <form method='POST' action="<%=stage_show_path(@room.id) %>" class='btn-form'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type='hidden' value='<%= @stage_level +1 %>' name='stage_level'/>
            <input type='submit' value='다음' class='btn btn-default'/>
          </form>
         <% end %>
 

    <br><br><hr>
    </div>

    <div class="col s2">
       <%= render './time_lines/timeline' %>
    </div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>-->

<br><br><br><br><br><br>