<style>
  new_hr{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          0.3px;   
    color:#9b9292;
  }
</style>


<script>
$(document).ready( function() {
    if("<%=params[:is_wrong_answer] %>" == 'true')
        alert('정답이 아닙니다.');
})
</script>


<body style="background-color:#1e1e1e">
  
  
  
  
  
<div class="row">
    <div class="col-md-7">
        <%= render 'dialog_modal' %><br><br>
        <% if @wait_for_update %>
            <p><b>완결되지 않은 방탈출입니다. 추후의 업데이트를 기다려주세요!</b></p>
        <% else %>
            <% if @stage %>
                <%= render 'form'%>
            <% end %>
        <% end %>
    </div>
     
    <new_hr></new_hr>
    
    <div class="col-md-5">
    <%= render './time_lines/timeline' %>
    

    
    
    <div class='form-group' style="text-align:center; color:white;float:right; margin-right: 3em">
              <br>
  <% if !(@stage.hint1.nil?) && @stage.hint1.length > 0 && @stageCal.usedhint1 == 1 %>
    <%= link_to '<i class="fas fa-key fa-2x"></i>'.html_safe, stage_hintpage_path(@room.id,@stage_level,1,@stage.id), method: :post, :class => 'btn btn-blueblack' %>
  <% elsif !(@stage.hint1.nil?) && @stage.hint1.length >0 %>
    <button class='btn btn-blueblack' data-toggle="modal" data-target="#myModal1">
      <i class="fas fa-key fa-2x"></i>
    </button>
  <% end %>
  
  <% if !(@stage.hint2.nil?) && @stage.hint2.length > 0 && @stageCal.usedhint2 == 1 %>
    <%= link_to '<i class="fas fa-key fa-2x"></i>'.html_safe, stage_hintpage_path(@room.id,@stage_level,2,@stage.id), method: :post, :class => 'btn btn-blueblack' %>
  <% elsif !(@stage.hint2.nil?) && @stage.hint2.length > 0 && @stageCal.usedhint1 == 1%>
    <button class='btn btn-blueblack' data-toggle="modal" data-target="#myModal2">
      <i class="fas fa-key fa-2x"></i>
    </button>
  <% elsif !(@stage.hint2.nil?) && @stage.hint2.length > 0 %>
    <button class='btn btn-blueblack disabled'>
      <i class="fas fa-key fa-2x"></i>
    </button>
  <% end %>
  
  <% if !(@stage.hint3.nil?) && @stage.hint3.length > 0 && @stageCal.usedhint3 == 1%>
    <%= link_to '<i class="fas fa-key fa-2x"></i>'.html_safe, stage_hintpage_path(@room.id,@stage_level,3,@stage.id), method: :post, :class => 'btn btn-blueblack' %>
  <% elsif !(@stage.hint3.nil?) && @stage.hint3.length > 0 && @stageCal.usedhint2 == 1%>
    <button class='btn btn-blueblack' data-toggle="modal" data-target="#myModal3">
      <i class="fas fa-key fa-2x"></i>
    </button>
  <% elsif !(@stage.hint3.nil?) && @stage.hint3.length >0 %>
    <button class='btn btn-blueblack disabled'>
      <i class="fas fa-key fa-2x"></i>
    </button>
  <% end %>
    <table>
    <% for i in 1..5 do%> 
        
        <td>
            <!--<%#radio_button :mode, onclick="num_click2(#{i});", checked: true%> <%#=i%>번문항</li><br>-->
            <button type='button' class="btn btn-info" onclick="num_click2(<%=i%>);" ><%=i%>번문항이 정답</button>
        </td>
        
    <% end %>
    
     
</table>
    
  </div>
    
                <div class='form-group'>

                <% if @stage.mode==1 %>       
                    <%=render 'theme_lock'%>
        
                <% elsif @stage.mode==2%>
                    <h4>1: <%=@stage.pattern_num1%></h4>
                    <h4>2: <%=@stage.pattern_num2%> </h4>
                    <h4>3: <%=@stage.pattern_num3%> </h4>
                    <h4>4: <%=@stage.pattern_num4%> </h4>  
                    <h4>5: <%=@stage.pattern_num5%> </h4>
                    <hr>
                    <%= render 'theme_pattern'%>
                    
                <% elsif @stage.mode==3%>
                     <h4>1: <%=@stage.selection_num1%></h4>
                     <h4>2: <%=@stage.selection_num2%> </h4>
                     <h4>3: <%=@stage.selection_num3%> </h4>
                     <h4>4: <%=@stage.selection_num4%> </h4>  
                     <h4>5: <%=@stage.selection_num5%> </h4>
                     <hr>
               
                <% end %>
                
                
                    <div class="answer" style="text-align:center;">
                     <% if @stage_level == @roomCal.last_stage_level %>
                    <%=form_tag stage_check_path(@room.id), {method: 'post', id:'nextStage'} do %>
                    <label for='stage_answer' style="color:white">정답 :: </label>
                    <%=text_field_tag :stage_answer,  "", autocomplete: 'off' , readonly: ((@stage.mode==0) ? false : true)  %>
                    <%=hidden_field_tag :stage_level, @stage_level%>
                    <%=hidden_field_tag :stage_id, @stage.id%>
                    <%=submit_tag '제출', id: 'btn_check_answer', class: 'btn btn-blueblack'%>
                    <% end %>
    
                <% end %>
    </div>
                
        
        </div>
        <br><br><hr>
    </div>
    <div class="col-md-1">
    </div>
    
</div>



<% if  @stage_level > 0 %>
          <form method='POST' action="<%=stage_show_path(@room.id) %>" class='btn-form'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type='hidden' value='<%= @stage_level-1 %>' name='stage_level'/>
            <input type='submit' value='이전' class='btn btn-default'/>
          </form>
        <% end %>
    
        <!-- 배포된 페이지 까지만 보여주기-->
        <% if (@stages.length)+1 > @stage_level && @stage_level<@roomCal.last_stage_level %>
         <form method='POST' action="<%=stage_show_path(@room.id) %>" class='btn-form'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type='hidden' value='<%= @stage_level +1 %>' name='stage_level'/>
            <input type='submit' value='다음' class='btn btn-default'/>
          </form>
        <% end %>
</div>

<br><br><br><br><br><br>

</body>

 