    <br><br>
      <h3 style="text-align: center;">마이페이지</h3><hr>
      <div class="list-group">

  
  
  <%= link_to '<i class="fas fa-list fa-lg"></i>    방탈출 플레이'.html_safe, post_mypage_path, :class => 'list-group-item list-group-item-action' %>
    <%= link_to '<i class="fas fa-envelope-open fa-lg"></i>    멀티플레이 관리'.html_safe, post_notification_path, method: :get, :class => 'list-group-item list-group-item-action' %>
  <%= link_to '<i class="fas fa-award fa-lg"></i>    칭호 관리'.html_safe, post_award_path, :class => 'list-group-item list-group-item-action' %>
  <%= link_to '<i class="fas fa-box-open fa-lg"></i>    아이템 관리'.html_safe, post_item_path, method: :get, :class => 'list-group-item list-group-item-action' %>
  <%= link_to '<i class="fas fa-user-circle fa-lg"></i>    계정 수정'.html_safe, edit_user_registration_path, :class => 'list-group-item list-group-item-action' %>
  <%= link_to '<i class="fas fa-ticket-alt fa-lg"></i>    쿠폰 입력'.html_safe, post_coupon_path, method: :get, :class => 'list-group-item list-group-item-action' %>  
  <!--  #{ @invite_new_count if @invite_new_count>0 } 부분 현재 생략 됨 (부트스트랩문제) -->
  </div>