<head>
    <title>플랜 R :: 만든다. 방탈출.</title>
   
</head>
<body>

<main role="main" class="main-content">
    <canvas id="noise" class="noise"></canvas>
   
    
    <div id="logo-div">
        <img src="<%= asset_path 'R3.gif' %>" id="logo" onClick="clickLogo()">
    </div>
</main>
</body>

<script>



function clickLogo(){
    var rand = Math.floor(Math.random() * 4) + 1;
    // console.log(rand);
    if (rand ==  1) {
        document.getElementById("logo").src="<%=asset_path 'R1.gif' %>";    }
    else if( rand == 2) {
        document.getElementById("logo").src="<%=asset_path 'R5.gif' %>";    }
    else if( rand == 3) {
        document.getElementById("logo").src="<%=asset_path 'R4.gif' %>";    }
    else if( rand == 4) {
        document.getElementById("logo").src="<%=asset_path 'R2.gif' %>";    }    
    else {
        document.getElementById("logo").src="<%=asset_path 'R3.gif' %>";    }
}

    
    


</script>