<!--이 파일은 Room말고 Post에 있으면 좋을거 같아요-->
<br>
<br>
<h3>멀티플레이 초대 수락 페이지</h3><br>
<hr>
<br>

<% @invites.each do |inv| %>
<% if inv.invite_accepted!=2 %>
"<%=inv.team.user.nickname %>"님께서  [<%=inv.room.title%>] 게임에 초대했습니다. <%="수락 상태" if inv.invite_accepted==@INVITE_ACCEPT %> <%="대기상태" if inv.invite_accepted==@INVITE_WAIT %><%="거절했음" if inv.invite_accepted==@INVITE_DENY %>

<%=form_tag(invite_update_path, { method: 'post', style: 'display:inline'}) do %>
    <%=hidden_field_tag :invite_id, inv.id %>
    
    <%=hidden_field_tag :invite_accepted, 1 %>
    <%=submit_tag '수락하기', class: 'btn btn-default' %>
<%end %>

 <form method='POST' action="<%=invite_update_path %>" style='display:inline'>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type='hidden' value='<%=inv.id%>' name='invite_id'/>
      
      <input type='hidden' value='2' name='invite_accepted'/>
      <input type='submit' value='거절하기' class='btn btn-default'/>
</form>
 
<br/>

<% end %>
<% end %>


<form method='POST' action="<%=invite_update_path %>" style='display:inline'>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type='hidden' value='-1' name='invite_id'/>
      
      <input type='submit' value='대기상태로 초기화하기 ㅋㅋ' class='btn btn-default'/>
</form>

<br><br><hr><%=link_to "홈 화면으로", '/'%>
