<div class="content">
<div class="row">
    <div class="col-md-2">
      <%=render 'ranking_menu' %>
    </div>
    <div class="col-md-9">

<br>
<br>
<p style="font-size:30px;"><b>나의 랭킹</b></p>
<br>
<br>

이번 시즌 나의 랭킹 등급 :
<% if @user.rank_point.round(2) >= 10.00 %>
    그랜드마스터
<% elsif @user.rank_point.round(2) >= 9.00 %>
    마스터
<% elsif @user.rank_point.round(2) >= 6.00 %>
    실력자
<% elsif @user.rank_point.round(2) >= 3.00 %>
    숙련자
<% else %>
    뉴비
<% end %>
<br>
이번 시즌 나의 EP : 
<% if @user.rank_point.round(2) >= 10.00%>
10.0 
<% else %>
<%= @user.rank_point.round(2) %>
<% end %>
<br>
다음 랭킹 등급까지 남은 EP : 
<% if @user.rank_point.round(2) >= 10.00 %>
0 (이번 시즌 획득할 수 있는 EP의 최대량에 도달하였습니다.)
<% else %>
<%= @nextrank_ep.round(2) %>
<% end %>
<br>
<br>
<% if @user.rank_point.round(2) >= 10.00 %>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar" style="width: <%=@nextrank_percent.round(2)%>%;" aria-valuemin="0" aria-valuemax="100">0%</div>
</div>
<% elsif @user.rank_point.round(2) >= 9.00 %>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: <%=@nextrank_percent.round(2)%>%;" aria-valuemin="0" aria-valuemax="100"><%=@nextrank_percent.round(2) %>%</div>
</div>
<% elsif @user.rank_point.round(2) >= 6.00 %>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: <%=@nextrank_percent.round(2)%>%;" aria-valuemin="0" aria-valuemax="100"><%=@nextrank_percent.round(2) %>%</div>
</div>
<% elsif @user.rank_point.round(2) >= 3.00 %>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: <%=@nextrank_percent.round(2)%>%;" aria-valuemin="0" aria-valuemax="100"><%=@nextrank_percent.round(2) %>%</div>
</div>
<% else %>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: <%=@nextrank_percent.round(2)%>%;" aria-valuemin="0" aria-valuemax="100"><%=@nextrank_percent.round(2) %>%</div>
</div>
<% end %>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>




<div class="col-md-1"></div>

</div>
</div>